<%- include("partials/header") -%>
<h1> Compose </h1>


<div class="container">

  <form action="/compose" method="post">
    <div class="form-group">
      <label >Title : </label>
      <input type="text" class="form-control"  placeholder="Enter title" name="name1">
    </div>
    <div class="form-group">
     <label for="exampleFormControlTextarea1">Post :</label>
     <textarea name="postBody" class="form-control" id="exampleFormControlTextarea1" cols="30" rows="6" placeholder="Write your blog here" ></textarea>
   </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>
<%- include("partials/footer") -%>
